@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}
html, body{
  min-height: 100vh;
  background-image: url("./images/My_Neighbor_Totoro.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.centered-container{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  backdrop-filter: blur(20px);
}
tr, td, th{
  border: 1px solid #FFFFFF;
  text-align: left;
  padding: 8px;
}
.header{
  text-align: center;
}
.button {
    display: block;
    /* width: 250px; */
    margin: 0px auto 5 auto;
    padding: 3px 4px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    
    background-color: #000000;
    color: #FFFFFF;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}
.button:hover {
    background-color: #FFFFFF;
    color: #000000;
    border-color: #000000;
}